body {
    margin-top: 0px;
    margin-bottom: 0px;
}

#name {
    font-family: Helvetica Neue, Helvetica, Arial;
}

#main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 25px;
    height: 100vh;
}

#sidebar {
    grid-column: 1;
}

#mobile-sidebar {
    display: none;
}

#gallery {
    grid-column: 2;
    overflow-x: scroll;
    white-space: nowrap;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 40px;
}

.slide {
    display: inline-block;
    height: 99%;
}

.slide:not(:last-child) {
    padding-right: 40px;
}

/* mobile */
@media only screen and (max-width: 768px) {
    #sidebar {
    }

    #gallery {
    }
}
