@import url('https://fonts.googleapis.com/css?family=Bitter:400i');
body {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Helvetica Neue, Helvetica, Arial;
}

a {
    text-decoration: none;
    color: #0000ff;
}

a:hover {
    border-bottom: 2px solid #000000;
}

.name a{
    /*
    font-family: 'Bitter', serif;
    */
    font-style: italic;
    color: #000000;
}

#main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr;
    grid-gap: 25px;
    height: 100vh;
}

#sidebar {
    grid-column: 1;
    padding-left: 20px;
    padding-top: 20px;
}

.project-link {
    transition: all 1s;
}

.project-link:not(.toggled) li {
    display: none;
}

.project-link:not(.toggled) .sidebar-label:not(:hover) {
    border: none;
}

.project-link .sidebar-label:hover {
    cursor: pointer;
}

#mobile-sidebar {
    display: none;
    grid-column: 1 / 4;
    grid-row: 1;
    grid-template-columns: 3fr 1fr;
}

#links-container {
    position: fixed;
    top: 16.6vh;
    height: calc(83.3vh - 40px);
    width: calc(100vw - 40px);
    left: -768px;
    transition: all 1s;
    background: #ffffff;
    border: 2px solid #000000;
    outline: 21px solid #ffffff;
    margin: 20px;
    box-sizing: border-box;
}

#mobile-links {
    position: absolute;
    top: calc(50% - 20px);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.links ul {
    padding: 0px;
    list-style: none;
}

.links li:not(:first-child) {
    margin-top: 5px;
}


.sidebar-label {
    font-size: 16px;
    font-style: italic;
    letter-spacing: 1px;
    border-bottom: 2px solid #000000;
}

.link {
    text-decoration: none;
}

#toggle-menu {
    grid-column: 2;
    text-align: center;
    font-style: italic;
}

#toggle-menu a {
    border-bottom: 2px solid #000000;
}

.active {
    display: initial;
    left: 0px !important;
}

#gallery {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    overflow-x: scroll;
    white-space: nowrap;
    display: inline-block;
    padding-top: 40px;
    padding-bottom: 40px;
}

.slide {
    display: inline-block;
    height: 99%;
}

.slide:not(:last-child) {
    padding-right: 40px;
}

/* mobile */
@media only screen and (max-width: 768px) {
    #sidebar {
        display: none;
    }

    #gallery {
        grid-column: 1 / 4;
        grid-row: 2;
    }

    .slide {
        width: 100%;
        height: unset;
    }

    #mobile-sidebar{
        display: grid;
    }

}
